/* ------- GLOBAL VARIABLES --------- */

/* COLORS */
$body-bg: #E5E5E5; /* DOCUMENT BACKGROUND COLOR */
$purple: #9C69E2; /* PURPLE FOR BUTTONS AND RECTANGLE ON HEADER */
$pink: #F063B8; /* PINK FOR BUTTONS AND RECTANGLE ON HEADER */
$gray: #485D68; /* FONT COLOR FOR NAV LINKS AND HEADLINE INFO*/
$darkBlue: #212353; /* DARKER BLUE */
$teal: #68C9BA; /* TEAL FOR FEATURE RECTANGLE */
$blue: #2D9CDB; /* BLUE FOR FEATURE RECTANGLE */
$white: #FFFFFF; /* BACKGROUNDS AND TEXT */

